<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.approval.ApprovalDAO">

	<sql id="forPager">
		<choose>
			<when test="kind='apKind'">
				APKIND
			</when>
			<when test="kind=='apTitle'">
				APTITLE
			</when>
			<otherwise>
				APCONTENTS
			</otherwise>
		</choose>
	</sql>

	<!-- 품의서 작성 -->
	<insert id="setApPoomAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL
		(APNO, USERNAME, APFORMATNO, APTITLE, APCDATE, APCONTENTS, APSTATE, APREJECTION, APKIND, EMPNAME, POSITIONNAME, DEPTNAME)
		VALUES
		(NULL, #{username}, 25, #{apTitle}, NOW(), #{apContents}, '결재대기중', '', '품의서', #{empName}, #{positionName}, #{deptName})
	</insert>
	
	<!-- 휴가신청서 작성 -->
	<insert id="setApDayoffAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL
		(APNO, USERNAME, APFORMATNO, APTITLE, APCDATE, DAYOFFSTARTDATE, DAYOFFENDDATE,
		APCONTENTS, APSTATE, APREJECTION, DAYOFFKIND, DAYOFFTIME, DAYOFFSELECTDATE,
		APKIND, EMPNAME, POSITIONNAME, DEPTNAME)
		VALUES
		(NULL, #{username}, 27, #{apTitle}, NOW(), #{dayoffStartDate}, #{dayoffEndDate},
		#{apContents}, '결재대기중', '', #{dayoffKind}, #{dayoffTime}, #{dayoffSelectDate},'휴가신청서',
		#{empName}, #{positionName}, #{deptName})
	</insert>
	
	<!-- 휴직신청서 작성 -->
	<insert id="setApVacationAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL
		(APNO, USERNAME, APFORMATNO, APTITLE, APCDATE, APCONTENTS, APSTATE, APREJECTION, APKIND, EMPNAME, POSITIONNAME, DEPTNAME)
		VALUES
		(NULL, #{username}, 28, #{apTitle}, NOW(), #{apContents}, '결재대기중', '', '휴직신청서', #{empName}, #{positionName}, #{deptName})
	</insert>
	
	<!-- 퇴직신청서 작성 -->
	<insert id="setApRetireAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL
		(APNO, USERNAME, APFORMATNO, APTITLE, APCDATE, APCONTENTS, APSTATE, APREJECTION, APKIND, EMPNAME, POSITIONNAME, DEPTNAME)
		VALUES
		(NULL, #{username}, 29, #{apTitle}, NOW(), #{apContents}, '결재대기중', '', '퇴직신청서', #{empName}, #{positionName}, #{deptName})
	</insert>
	
	<!-- 지출결의서 작성 -->
	<insert id="setApExpenseAdd" parameterType="ApprovalVO">
		INSERT INTO APPROVAL
		(APNO, USERNAME, APFORMATNO, APTITLE, APCDATE, APSTATE, APREJECTION, APKIND, EMPNAME, POSITIONNAME, DEPTNAME)
		VALUES
		(NULL, #{username}, 26, #{apTitle}, NOW(), '결재대기중', '', '지출결의서', #{empName}, #{positionName}, #{deptName})
	</insert>
	
	<!-- 지출결의서 상세 -->
	<!-- <select id="getApExpenseDetail" parameterType="ApprovalVO" resultMap="getExpenseResult">
		SELECT A.*, AE.*
		FROM
				APPROVAL A LEFT OUTER JOIN APEXPENSE AE
				ON A.APNO = AE.APNO
		WHERE A.APNO = #{apNo}
	</select> -->
	
	
	<!-- 지출항목 추가 -->
	<insert id="setExpenseAdd" parameterType="ApprovalExpenseVO">
		INSERT INTO APEXPENSE
		VALUES
		(#{apNo}, #{expenseName}, #{expensePrice}, #{expenseBigo}, #{expenseAmount}, NULL)
	</insert>
	
	<!-- 지출항목 상세 -->
	<!-- <select id="getExpenseDetail" parameterType="ApprovalExpenseVO" resultMap="ApprovalExpenseVO">
		SELECT * FROM APEXPENSE
		WHERE EXPENSENO = #{expenseNo}
	</select> -->
	
  	
  	<select id="getApUser" parameterType="com.vet.main.emp.EmpVO" resultMap="getUserResult">
  		SELECT E.*, P.*, D.* 
		FROM EMP E INNER JOIN POSITION P 
			ON E.POSITIONNO=P.POSITIONNO 
			INNER JOIN DEPARTMENT D 
			ON E.DEPTNO=D.DEPTNO
		WHERE E.USERNAME=#{username}
  	</select>
  	
	<resultMap type="com.vet.main.emp.EmpVO" id="getUserResult">
		<id column="USERNAME" property="username"/>
			<result column="PASSWORD" property="password"/>
			<result column="EMPNAME" property="empName"/>
			<result column="EMAIL" property="email"/>
			<result column="PHONE" property="phone"/>
			<result column="ADDRESS" property="address"/>
			<result column="HIREDATE" property="hireDate"/>
			<result column="RANDOMPW" property="randomPw"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORIGINALFILENAME" property="originalFileName"/>
			<result column="STATE" property="state"/>
			<result column="POSITIONNO" property="positionNo"/>
			<result column="DEPTNO" property="deptNo"/>
	</resultMap>
	
	
	<!-- 기안함 -->
	<select id="getDraftList" parameterType="Pager" resultType="ApprovalVO">
		SELECT A.*, E.USERNAME, E.EMPNAME, D.DEPTNAME
			FROM APPROVAL A INNER JOIN EMP E
			ON A.USERNAME = E.USERNAME
			INNER JOIN DEPARTMENT D
			ON E.DEPTNO = D.DEPTNO
		WHERE E.USERNAME = #{username}
		  AND <include refid="forPager"></include>
		 LIKE CONCAT('%', #{search}, '%')
		ORDER BY A.APNO DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	
	
	<select id="getTotal" parameterType="Pager" resultType="Long">
		<bind name="pattern" value="'%' +_parameter.getSearch() + '%'"/>
		SELECT COUNT(APNO) FROM APPROVAL
		WHERE USERNAME = #{username}
		  AND <include refid="forPager"></include>
		 LIKE #{pattern}
	</select>

	
	<resultMap type="ApprovalVO" id="getApDetailResult">
		<id column="APNO" property="apNo"/>
			<result column="USERNAME" property="username"/>
			<result column="APFORMATNO" property="apFormatNo"/>
			<result column="APTITLE" property="apTitle"/>
			<result column="APCDATE" property="apCDate"/>
			<result column="APUDATE" property="apUDate"/>
			<result column="DAYOFFSTARTDATE" property="dayoffStartDate"/>
			<result column="DAYOFFENDDATE" property="dayoffEndDate"/>
			<result column="APCONTENTS" property="apContents"/>
			<result column="APSTATE" property="apState"/>
			<result column="APREJECTION" property="apRejection"/>
			<result column="DAYOFFKIND" property="dayoffKind"/>
			<result column="DAYOFFTIME" property="dayoffTime"/>
			<result column="DAYOFFSELECTTIME" property="dayoffSelectTime"/>
			<result column="APKIND" property="apKind"/>
			<result column="EMPNAME" property="empName"/>
			<result column="POSITIONNAME" property="positionName"/>
			<result column="DEPTNAME" property="deptName"/>
<!-- 		<collection property="fileList" javaType="List" ofType="ApprovalFileVO">
			<id column="FILENO" property="fileNo"/>
				<result column="FILENAME" property="fileName"/>
				<result column="ORIGINALFILENAME" property="originalFileName"/>
		</collection> -->
	</resultMap>
	
	
	<select id="getApDetail" parameterType="ApprovalVO" resultMap="getApDetailResult">
		<!-- SELECT A.*, AF.*
		FROM APPROVAL A
		INNER JOIN APFILE AF
		WHERE A.APNO = #{apNo} -->
		
		SELECT *
		FROM APPROVAL
		WHERE APNO = #{apNo}
	</select>
	
	<delete id="setApDelete" parameterType="ApprovalVO">
		DELETE FROM APPROVAL
		WHERE APNO = #{apNo}
	</delete>
	
	<update id="setApPoomUpdate" parameterType="ApprovalVO">
		UPDATE APPROVAL
		SET APTITLE = #{apTitle},
			APCONTETNTS = #{apContents}
		WHERE APNO = #{apNo}
	</update>
	
	
	<!-- ************ FILE ************ -->
	<insert id="setApFileAdd" parameterType="ApprovalFileVO">
		INSERT INTO APFILE
		VALUES (NULL, #{apNo}, #{fileName}, #{originalFileName})
	</insert>
	
	<select id="getApFileDetail" parameterType="FileVO" resultType="ApprovalFileVO">
		SELECT * FROM APFILE
		WHERE FILENO = #{fileNo}
	</select>

	

</mapper>