<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.vet.main.customer.CustomerDAO">
		<sql id="forPager">
	  		<choose>
	  			<when test="kind == 'animalName'">
	  				animalName
	  			</when>
	  			<otherwise>
	  				name
	  			</otherwise>
	  		</choose>
	  	</sql>
	  	
	  	<select id="getTotal" parameterType="Pager" resultType="Long">
	  		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/> <!-- mybatis에서 제공하는 동적 쿼리를 이용하는 방식 _parameter는 parameter로 접근하는 예약어-->
	  		SELECT COUNT(CUSTOMERNO) FROM CUSTOMER
	  			WHERE <include refid="forPager"></include>
	  			Like #{pattern}
	  	</select>
		
		<select id="getList" parameterType="Pager" resultType="CustomerVO">
			SELECT * FROM CUSTOMER 
				WHERE
				<include refid="forPager"></include>
				LIKE CONCAT('%', #{search}, '%')
				ORDER BY CUSTOMERNO DESC
				LIMIT #{startRow}, #{perPage}
		</select>
		
		<insert id="setAdd" parameterType="CustomerVO" useGeneratedKeys="true" keyProperty="customerNo">
			INSERT INTO CUSTOMER(CUSTOMERNO, ANIMALNAME, GENDER, AGE, WEIGHT, KIND, NEUTERING, NAME, PHONE, ADDRESS)
				VALUES (NULL, #{animalName}, #{gender}, #{age}, #{weight}, #{kind}, #{neutering}, #{name}, #{phone}, #{address}) 
		</insert>
		
		<!-- 사진첨부 -->
		<insert id="setFileAdd" parameterType="CustomerFileVO">
			INSERT INTO CUSTOMERFILE (FILENO, FILENAME, ORIGINALFILENAME, CUSTOMERNO)
				VALUES (#{fileNo}, #{fileName}, #{originalFileName}, #{customerNo})
		</insert>
	
	</mapper>