<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.emp.EmpDAO">

	<select id="getEmp" parameterType="com.vet.main.emp.EmpVO" resultType="com.vet.main.emp.EmpVO">
		SELECT * FROM EMP WHERE EMPNO=#{empNo}
	</select>

	<select id="getEmpList" parameterType="com.vet.main.emp.EmpVO" resultMap="getDetailResult">
		SELECT E.*, P.*, D.*  
		FROM EMP E INNER JOIN POSITION P 
		ON E.POSITIONNO=P.POSITIONNO 
		INNER JOIN DEPARTMENT D 
		ON E.DEPTNO=D.DEPTNO
		ORDER BY EMPNO DESC
	</select>
	
	<resultMap type="com.vet.main.emp.EmpVO" id="getDetailResult">
		<id column="EMPNO" property="empNo"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="HIREDATE" property="hireDate"/>
		<result column="RANDOMPW" property="randomPw"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORIGINALFILENAME" property="originalFileName"/>
		<result column="STATE" property="state"/>
		<result column="POSITIONNO" property="positionNo"/>
		<result column="DEPTNO" property="deptNo"/>
	</resultMap>

	<insert id="empAdd" parameterType="com.vet.main.emp.EmpVO">
		INSERT INTO EMP 
		VALUES (NULL, 'qwerqwer', #{name}, #{email}, #{phone}, NOW(), 'default.jpeg', 'default.jpeg', 11, 999, '재직', #{birth}, 0)
	</insert>

  	<select id="empDetail" parameterType="com.vet.main.emp.EmpVO" resultMap="getDetailResult">
  		SELECT E.*, P.*, D.* 
		FROM EMP E INNER JOIN POSITION P 
		ON E.POSITIONNO=P.POSITIONNO 
		INNER JOIN DEPARTMENT D 
		ON E.DEPTNO=D.DEPTNO
		WHERE E.EMPNO=#{empNo}
		ORDER BY EMPNO DESC
  	</select>
  	
  	<update id="empUpdate" parameterType="com.vet.main.emp.EmpVO">
  		UPDATE EMP E JOIN DEPARTMENT D
  		ON E.DEPTNO = D.DEPTNO
  		JOIN POSITION P
  		ON E.POSITIONNO = P.POSITIONNO
  		SET
  		E.NAME = #{name},
  		E.DEPTNO = #{deptNo},
  		E.POSITIONNO = #{positionNo},
  		E.STATE = #{state}
  		WHERE E.EMPNO=#{empNo} 		
  	</update>
  	
</mapper>