<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.vet.main.medicine.MedicineDAO">
		<sql id="forPager">
	  		<choose>
	  			<when test="kind == 'name'">
	  				name
	  			</when>
	  			<otherwise>
	  				name
	  			</otherwise>
	  		</choose>
	  	</sql>
	  	
	  	<select id="getTotal" parameterType="Pager" resultType="Long">
	  		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/> <!-- mybatis에서 제공하는 동적 쿼리를 이용하는 방식 _parameter는 parameter로 접근하는 예약어-->
	  		SELECT COUNT(MEDICINENO) FROM MEDICINE
	  			WHERE <include refid="forPager"></include>
	  			Like #{pattern}
	  	</select>
		
		<!-- 약품목록 -->
		<select id="getList" resultType="MedicineVO" parameterType="MedicineVO">
			SELECT * FROM MEDICINE
				WHERE
				<include refid="forPager"></include>
				LIKE CONCAT('%', #{search}, '%')
				ORDER BY MEDICINENO DESC
				LIMIT #{startRow}, #{perPage}
		</select>
		
		<!-- 약품추가 -->
		<insert id="setAdd" parameterType="MedicineVO">
			INSERT INTO MEDICINE (MEDICINENO, NAME, STOCK, MEDICINEDATE, EXPIRATIONDATE)
				VALUES (NULL, #{name}, #{stock}, now(), #{expirationDate})
		</insert>
		
		<!-- 약품상세 -->
		<select id="getDetail" parameterType="MedicineVO">
			SELECT * FROM MEDICINE WHERE MEDICINENO = #{medicineNo}
		</select>
		
		<!-- 약품수정 -->
		<update id="setUpdate" parameterType="MedicineVO">
			UPDATE MEDICINE SET 
				STOCK = #{stock},
				MEDICINEDATE = #{medicineDate},
				EXPIRATIONDATE = #{expirationDate}
			WHERE MEDICINENO = #{medicineNo}
		</update>
		
		<!-- 약품삭제 -->
		<delete id="setDelete" parameterType="MedicineVO">
			DELETE FROM MEDICINE WHERE MEDICINENO = #{medicineNo}
		</delete>
	</mapper>