<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.notice.NoticeDAO">

<!-- 	<sql id="searchSql">
		<choose>
			<when test="kind=='title'">
				AND TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="kind==contents">
				AND CONTENTS LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				AND EMPNO LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql> -->
	
		
	<select id="getNoticeList" parameterType="NoticeVO" resultMap="getDetailResult">
		SELECT N.*, E.EMPNAME FROM NOTICE N
		INNER JOIN EMP E
		ON E.USERNAME = N.USERNAME 
		ORDER BY NOTICENO DESC
		
<!-- 		SELECT * FROM NOTICE
		WHERE 
		<include refid="searchSql"></include>
		LIKE CONCAT('%', #{search}, '%')
		ORDER BY NOTICENO DESC
		LIMIT #{startRow}, #{lastRow} -->
	</select>
	
	 	<resultMap type="NoticeVO" id="getDetailResult">
  		<id column="NOTICENO" property="noticeNo"/>
  		<result column="USERNAME" property="username"/>
  		<result column="TITLE" property="title"/>
  		<result column="CREATDATE" property="createDate"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="HIT" property="hit"/>
  		<result column="MODIFYDATE" property="modifyDate"/>
  		<result column="IMPORTANT" property="important"/>
<!--   		<result column="NAME" property="name"/> 	-->
  		
<!-- 		<collection property="empVOs" javaType="List" ofType="EmpVO">
  			<id column="EMPNO" property="empNo"/>
  			<result column="NAME" property="name"/>
  		</collection> -->
  	</resultMap>
	
	

</mapper>