<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.notice.NoticeDAO">

<!-- 	<sql id="searchSql">
		<choose>
			<when test="kind=='title'">
				AND TITLE LIKE '%'||#{search}||'%'
			</when>
			<when test="kind==contents">
				AND CONTENTS LIKE '%'||#{search}||'%'
			</when>
			<otherwise>
				AND EMPNO LIKE '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql> -->
	
	<!-- 공지사항 리스트 -->	
	<select id="getNoticeList" parameterType="NoticeVO" resultMap="getDetailResult">
		SELECT N.*, E.EMPNAME FROM NOTICE N
		INNER JOIN EMP E
		ON E.USERNAME = N.USERNAME 
		ORDER BY NOTICENO DESC
		
<!-- 		SELECT * FROM NOTICE
		WHERE 
		<include refid="searchSql"></include>
		LIKE CONCAT('%', #{search}, '%')
		ORDER BY NOTICENO DESC
		LIMIT #{startRow}, #{lastRow} -->
	</select>
	
	 	<resultMap type="NoticeVO" id="getDetailResult">
  		<id column="NOTICENO" property="noticeNo"/>
  		<result column="USERNAME" property="username"/>
  		<result column="TITLE" property="title"/>
  		<result column="CREATEDATE" property="createDate"/>
  		<result column="CONTENTS" property="contents"/>
  		<result column="HIT" property="hit"/>
  		<result column="MODIFYDATE" property="modifyDate"/>
  		<result column="IMPORTANT" property="important"/>
  		<result column="EMPNAME" property="empName"/> 	
  		
<!-- 		<collection property="empVOs" javaType="List" ofType="EmpVO">
  			<id column="EMPNO" property="empNo"/>
  			<result column="NAME" property="name"/>
  		</collection> -->
  	</resultMap>
  	
  	<!-- 공지사항글 등록 -->
  	<insert id="setNoticeAdd" parameterType="NoticeVO">
		INSERT INTO NOTICE
		(NOTICENO, USERNAME, TITLE, CREATEDATE, MODIFYDATE, CONTENTS, HIT, IMPORTANT)
		VALUES
		(NULL, #{username}, #{title},NOW(), NULL, #{contents},0,0)
	</insert>
	
	<!-- 공지사항 상세 -->
	<select id="getNoticeDetail" parameterType="NoticeVO" resultMap="getDetailResult">
		SELECT N.*, E.EMPNAME FROM NOTICE N
		INNER JOIN EMP E
		ON E.USERNAME = N.USERNAME 
		WHERE N.NOTICENO = #{noticeNo}
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="setUpdate" parameterType="NoticeVO">
		UPDATE NOTICE SET
		TITLE = #{title},
		MODIFYDATE = NOW(),
		CONTENTS = #{contents}
		WHERE NOTICENO = #{noticeNo}
	</update>
	
	
	<!-- 공지사항 삭제 -->
	<delete id="setDelete" parameterType="NoticeVO">
		DELETE FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</delete>
	
	
	

</mapper>