<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.reservation.surgery.SurgeryDAO">
	
	<select id="getScheduleList" resultType="SurgeryVO">
			SELECT S.*, C.ANIMALNAME, E.EMPNAME 
	  		  FROM SURGERY S 
					INNER JOIN CUSTOMER C
	  						ON S.CUSTOMERNO=C.CUSTOMERNO
	  				INNER JOIN EMP E 
	  						ON S.USERNAME=E.USERNAME
	  				INNER JOIN DEPARTMENT D
	  						ON E.DEPTNO = D.DEPTNO	
	</select>
	
	<insert id="setSurgeryAdd" parameterType="SurgeryVO">
			INSERT INTO SURGERY VALUES(NULL, #{surgeryStart}, #{surgeryEnd}, #{surgeryRoom}, 
										#{surgeryName},#{customerNo}, #{userName});
	</insert>	
	
	<select id="getCustomerList" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT CUSTOMERNO, ANIMALNAME, NAME
		  FROM CUSTOMER
		 WHERE ANIMALNAME=#{animalName}
	</select>	
	
	<select id="getEmpList"  resultType="EmpVO">
		SELECT E.USERNAME, E.EMPNAME, E.DEPTNO, D.DEPTNAME , P.POSITIONNAME 
		  FROM EMP E
				 INNER JOIN DEPARTMENT D 
				         ON E.DEPTNO = D.DEPTNO 
				 INNER JOIN POSITION P 
				 		 ON E.POSITIONNO = P.POSITIONNO
					  WHERE P.POSITIONNO BETWEEN 2 AND 6		       	
	</select>	
	
	<select id="getDetail" resultType="SurgeryVO" parameterType="SurgeryVO">
		SELECT S.*, C.ANIMALNAME, C.NAME, E.USERNAME, E.EMPNAME
	  	  FROM SURGERY S
	 		   INNER JOIN CUSTOMER C
	  				   ON S.CUSTOMERNO=C.CUSTOMERNO
	  		   INNER JOIN EMP E 
	  			       ON S.USERNAME=E.USERNAME	
	  	 WHERE SURGERYNO=#{surgeryNo} 		
	</select>
	
	
	<update id="setUpdate" parameterType="SurgeryVO">
		UPDATE SURGERY 
		   SET SURGERYSTART=#{surgeryStart},
		   	   SURGERYEND=#{surgeryEnd},
		   	   SURGERYROOM=#{surgeryRoom}, 
			   SURGERYNAME=#{surgeryName},
			   CUSTOMERNO=#{customerNo},		   	   
		       USERNAME=#{userName}
	     WHERE SURGERYNO=#{surgeryNo}
	</update>
	
	
	<delete id="setDelete" parameterType="SurgeryVO">
		DELETE FROM SURGERY WHERE SURGERYNO=#{surgeryNo};		
	</delete>
	
</mapper>