<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vet.main.reservation.treatment.TreatmentDAO">
	
	<select id="getScheduleList" resultType="TreatmentVO">
			SELECT T.TREATMENTDATE, T.TREATMENTNO, C.ANIMALNAME, E.EMPNAME 
	  		  FROM TREATMENT T 
					INNER JOIN CUSTOMER C
	  						ON T.CUSTOMERNO=C.CUSTOMERNO
	  				INNER JOIN EMP E 
	  						ON T.USERNAME=E.USERNAME
	  				INNER JOIN DEPARTMENT D
	  						ON E.DEPTNO = D.DEPTNO	  					
	</select>
	
	<select id="getDeptScheduleList" parameterType="TreatmentVO" resultType="TreatmentVO">
			SELECT T.TREATMENTDATE, T.TREATMENTNO, C.ANIMALNAME, E.EMPNAME 
	  		  FROM TREATMENT T 
					INNER JOIN CUSTOMER C
	  						ON T.CUSTOMERNO=C.CUSTOMERNO
	  				INNER JOIN EMP E 
	  						ON T.USERNAME=E.USERNAME
	  				INNER JOIN DEPARTMENT D
	  						ON E.DEPTNO = D.DEPTNO
	  		 WHERE D.DEPTNO=#{deptNo}			
	</select>	

	<insert id="setTreatmentAdd" parameterType="TreatmentVO">
		INSERT INTO TREATMENT VALUES(NULL, #{treatmentDate}, #{customerNo}, #{username})		
	</insert>
	
	<select id="getCustomerList" parameterType="CustomerVO" resultType="CustomerVO">
		SELECT CUSTOMERNO, ANIMALNAME, NAME
		  FROM CUSTOMER
		 WHERE ANIMALNAME=#{animalName}
	</select>	
	
	<select id="getEmpList"  resultType="EmpVO">
		SELECT E.USERNAME, E.EMPNAME, E.DEPTNO, D.DEPTNAME , P.POSITIONNAME 
		  FROM EMP E
				 INNER JOIN DEPARTMENT D 
				         ON E.DEPTNO = D.DEPTNO 
				 INNER JOIN POSITION P 
				 		 ON E.POSITIONNO = P.POSITIONNO
					  WHERE P.POSITIONNO BETWEEN 2 AND 6		       	
	</select>
	
	<select id="getDeptList" resultType="DeptVO">
		SELECT DEPTNO, DEPTNAME
		  FROM DEPARTMENT	
	</select>

	
	<select id="getDetail" resultType="TreatmentVO" parameterType="TreatmentVO">
		SELECT T.TREATMENTNO,T.TREATMENTDATE, T.CUSTOMERNO, C.ANIMALNAME, C.NAME, E.USERNAME, E.EMPNAME
	  	  FROM TREATMENT T 
	 		   INNER JOIN CUSTOMER C
	  				   ON T.CUSTOMERNO=C.CUSTOMERNO
	  		   INNER JOIN EMP E 
	  			       ON T.USERNAME=E.USERNAME	
	  	 WHERE TREATMENTNO=#{treatmentNo} 		
	</select>
	
	<select id="getTreatment" resultType="TreatmentVO">
		SELECT T.*, C.NAME, C.ANIMALNAME, C.PHONE
		  FROM TREATMENT T
		  	   INNER JOIN CUSTOMER C
		  	   		   ON T.CUSTOMERNO=C.CUSTOMERNO
	</select>
	
	<update id="setUpdate" parameterType="TreatmentVO">
		UPDATE TREATMENT 
		   SET CUSTOMERNO=#{customerNo},
		   	   TREATMENTDATE=#{treatmentDate},
		       USERNAME=#{username}
	     WHERE TREATMENTNO=#{treatmentNo}
	</update>
	
	<delete id="setDelete" parameterType="TreatmentVO">
		DELETE FROM TREATMENT WHERE TREATMENTNO=#{treatmentNo};		
	</delete>
	

</mapper>